/*
 * Vortex - Dropdowns
 *
 * TODO: SASS-ify and cleanup
 *
 */

@import "base";

ul.list-menu,
ul.list-menu li,
.global-menu ul,
.global-menu ul li,
#editor-menu,
#editor-menu li,
td.vrtx-report-broken-links ul,
td.vrtx-report-broken-links ul li,
#editor-button-row,
#editor-button-row li,
ul.manage-create,
ul.manage-create li,
ul.publishing-document,
ul.publishing-document li,
#locale-selection ul,
#locale-selection ul li,
#collection-more-menu ul,
#collection-more-menu ul li,
#editor-help-menu ul,
#editor-help-menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#editor-help-menu,
#collection-more-menu,
#editor-menu-wrapper,
#editor-button-row,
ul.publishing-document {
  display: inline-block;
}

#editor-button-row {
  margin-right: 10px;
}

#locale-selection {
  background: url(images/globe.png) no-repeat 0px 1px;
  padding: 0 0 1px 23px;
  z-index: 100;
}

#locale-selection ul,
#locale-selection ul li,
#collection-more-menu ul,
#collection-more-menu ul li,
#editor-help-menu ul,
#editor-help-menu ul li {
  display: inline;
}

#collection-more-menu ul {
  overflow: hidden;
}

#editor-help-menu {
  margin-left: 5px;
}

.js #editor-help-menu,
.js #collection-more-menu,
.js #locale-selection {
  position: relative;
}

.js #tabMenuRight #collection-more-menu li {
  float: none;
}

.js #tabMenuRight #collection-more-menu > a,
.js #tabMenuRight #collection-more-menu li a {
  margin: 0;
}

.js #editor-help-menu ul.dropdown-shortcut-menu-container,
.js #collection-more-menu ul.dropdown-shortcut-menu-container,
.js #locale-selection ul.dropdown-shortcut-menu-container {
  display: none;
  top: 24px;
  left: auto;
  right: 0;
}

.js #locale-selection ul.dropdown-shortcut-menu-container li a,
.js #locale-selection ul.dropdown-shortcut-menu-container li span {
  padding-left: 28px !important;
}

.js #locale-selection ul.dropdown-shortcut-menu-container li.active span {
  background: url(images/list-active.gif) no-repeat 10px 10px;
}

.js #locale-selection #locale-selection-header,
.js #collection-more-menu #collection-more-menu-header,
.js #editor-help-menu #editor-help-menu-header {
  background: url(images/arrow-down.png) no-repeat 100% 8px;
  padding-right: 12px;
  display: inline-block;
}

.js #collection-more-menu #collection-more-menu-header {
  background-position: 100% 13px;
  padding-left: 0px;
}

.dropdown-shortcut-menu-container form input[type=submit] {
  color: $linkColor;
}

.forms-new ul.button-row li,
.forms-new ul.button-row-small li {
  &.dropdown-init {
    float: none;
  }
}

div.dropdown-shortcut-menu-container,
ul.dropdown-shortcut-menu-container {
  display: none;
  border: 1px solid $buttonBorderColor;
  border-bottom: none;
  @include posAbs(80px, 0);
  z-index: 99;
  background-color: #fff;
}

#resource-title div.dropdown-shortcut-menu-container {
  top: auto;
}

.global-menu div.dropdown-shortcut-menu-container,
#editor-menu-wrapper div.dropdown-shortcut-menu-container {
  left: auto !important;
}

.global-menu div.dropdown-shortcut-menu-container {
  right: 0px;
  top: 41px;
}

#editor-menu-wrapper {
  position: relative;

  div.dropdown-shortcut-menu-container {
    right: 7px;
    top: 32px;
  }

  #editor-menu {
    padding: 0 7px 0 0;
  }
}

ul.dropdown-shortcut-menu {
  li.dropdown-init {
    position: relative;
    padding-right: 26px !important;
    line-height: 17px;

    .dropdown-shortcut-menu-click-area {
      border: 1px solid $buttonBorderColor;
      @include posAbsRight;
      @include wh(25px, 28px);
      @include noMargPadd;
      cursor: pointer;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: $buttonBackgroundColor url("images/dropdown-arrow.png") no-repeat 8px 12px;

      &:focus,
      &:hover {
        background-color: $buttonHoverBackgroundColor;
        border-color: $buttonHoverBackgroundColor;
        border-width: 0 0 0 1px;
        height: 30px;
        top: 0;
        right: 0;
        background-image: url("images/dropdown-arrow-hover.png");
        background-position: 7px 13px;
        outline: none;
        cursor: pointer;
      }
    }
  }

  &.dropdown-shortcut-menu-small li.dropdown-init .dropdown-shortcut-menu-click-area {
    background-image: url("images/dropdown-arrow-small.png");
    background-position: 8px 11px;
    @include wh(25px, 24px);

    &:focus,
    &:hover {
      height: 26px;
      background-image: url("images/dropdown-arrow-small-hover.png");
      background-position: 7px 12px;
    }
  }
}

div.dropdown-shortcut-menu-container ul,
div.dropdown-shortcut-menu-container ul li,
ul.dropdown-shortcut-menu-container,
ul.dropdown-shortcut-menu-container li {
  @include noMargPadd;
  list-style: none;
}

div.dropdown-shortcut-menu-container ul li,
ul.dropdown-shortcut-menu-container li {
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  a,
  span,
  form input[type='submit'] {
    border: none;
    border-bottom: 1px solid $buttonBorderColor;
    padding: 8px 14px 7px 14px !important;
    background-color: #fff;
    display: block;
    white-space: nowrap;
  }

  form {
    display: block;

    input[type='submit'] {
      float: left;
      text-align: left;
      width: 100%;
    }
  }

  a,
  form input[type='submit'] {
    &:hover,
    &:focus {
      background-color: $listingDropdownTipFocusBackgroundColor;
      cursor: pointer;
    }
  }
}

div.dropdown-shortcut-menu-container form .vrtx-button {
  height: auto;
  background: none;

  &:hover,
  &:focus {
    background: none;
  }

  button {
    color: $linkColor;
    background: none;
    height: auto;
    @include noMargPadd;

    &:hover,
    &:focus {
      background: none;
      color: $linkColor;
    }
  }
}
