/*
 * Vortex - Grid
 *
 * - Header
 * - Footer
 * - Global-menus
 * - Content-wrapper
 * - Fluid design
 *
 */

@import "base";

html {
  background-color: $bodyBackgroundColor;
}

body {
  min-width: $appMinWidth;
  background-color: $bodyBackgroundColor;
  text-align: center;
  @include noMargPadd;
}

#app-head,
#app-footer {
  background-color: $headFooterBackgroundColor;
  clear: both;
  position: relative;
}

#app-head-wrapper {
  background: $headFooterBackgroundColor;
  margin-bottom: 20px;
  border-bottom: 1px solid #dad9d9;
}

#app-head {
  background-color: transparent;
  text-align: left;
  margin: 0 auto;
  @include wh($appWidth, 128px);

  #app-name {
    @include posAbs(38px, 15px);
    font-size: 2.77em;
    font-weight: bold;
    color: #96948e;
    line-height: 1.05em;
    white-space: nowrap;

    a {
      color: #96948e;

      &:focus,
      &:hover {
        color: #0b5a9d;
        text-decoration: none;

      }
    }
    span#tagline {
      color: $textColor;
      font-size: 0.47em;
      font-weight: normal;
      line-height: 1em;
      margin-top: 10px;
      display: block;
    }
  }

  #global-menu-top,
  #global-menu-bottom {
    @include posAbsRight(16px, 15px);
  }
  #global-menu-bottom {
    top: 64px;
  }
  .global-menu {
    background: url(images/seperator-grey-gradient.png) no-repeat top right;
    padding: 13px 18px 0 0;
    margin: 0 18px 0 0;
    height: 30px;
    float: left;
    position: relative;

    &.last {
      background: none;
      padding-right: 0;
      margin-right: 0;
    }
    &#global-menu-create {
      padding-top: 9px;
      z-index: 99;
    }
  }
  .global-menu-small {
    background: url(images/seperator-grey-gradient-small.png) no-repeat top right;
    padding: 4px 18px 0 0;
    margin: 0 18px 0 0;
    height: 21px;
    float: left;

    &.last {
      background: none;
      padding-right: 0;
      margin-right: 0;
    }
  }

  .principal {
    @include bg("images/person.png");
    padding-left: 28px;
    display: inline-block;

    #logoutForm {
      display: inline;
    }
  }
}

#app-footer-wrapper {
  background-color: transparent;
  text-align: center;
  padding: 0;
  position: relative;
}

#app-footer {
  background-color: transparent;
  color: #5e5e5e;
  font: normal 0.85em/1.25em Verdana, sans-serif;
  text-align: right;
  width: $appWidth - 30px;
  margin: 0 auto;
  padding: 0 15px 44px 15px;
  border: none;
}

#app-content {
  text-align: left;
  width: $appWidth - 30px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  margin-bottom: 12px;
  position: relative;
  clear: left;
}

#app-content #main,
#app-content #contents {
  background-color: $contentBackgroundColor;
}

#app-content #main {
  padding: 19px;
  border: 1px solid #d9d9d9;
}

/* Fluid */

.app-fluid {
  min-width: $fluidMinWidth;

  #app-head-wrapper,
  #app-footer-wrapper {
    min-width: $fluidMinWidth;
    width: 100%;
  }
  #app-head-wrapper #line-top #uiologo a {
    left: $fluidPadding;
  }
  #app-head {
    #app-name {
      left: $fluidPadding;
    }
    #global-menu-top,
    #global-menu-bottom {
      right: $fluidPadding + $fluidGlobalMenuRightAdjust;
    }
  }
  #app-head,
  #app-head-wrapper #line-top #uiologo,
  #app-head-wrapper #vrtx-breadcrumb-wrapper #vrtx-breadcrumb,
  #app-head-wrapper #system-message-wrapper .system-message,
  #app-footer {
    width: auto;
    max-width: $fluidMaxWidth;
    padding-left: $fluidPadding;
    padding-right: $fluidPadding;
  }
  #app-content {
    width: auto;
    min-width: $fluidMinWidth - ($fluidPadding * 2);
    max-width: $fluidMaxWidth;
    padding-left: $fluidPadding;
    padding-right: $fluidPadding;
  }
}
