@import "base";

#global-menu-top div.adminSearchService,
#tabMenuRight li.adminSearchService {
  min-width: 210px;
  text-align: right;

  > a {
    background: url('images/admin-search-mag-glass-expand.png') no-repeat center left;
    display: inline-block;
    padding-left: 20px;
  }
  > .vrtx-textfield {
    display: none;
    @include borderRadius(3px);
    background: url("images/admin-search-mag-glass-field.png") no-repeat 95% 50%;
    padding-right: 30px;

    &.ac_loading {
      background-image: url("/vrtx/__vrtx/static-resources/themes/default/icons/tabmenu-spinner.gif");
    }
  }

  &.visible-search {
    > a {
      display: none;
    }
    > .vrtx-textfield {
      display: inline-block;
    }
  }
}

#global-menu-top div.adminSearchService > .vrtx-textfield {
  margin-top: -6px;
}

.ac_results.admin-search {
  margin-left: -160px !important;
  margin-top: 5px !important;
  border-top: 1px solid #a0a0a0;
  border-color: #ccc;

  .vrtx-autocomplete-search-info {
    background: transparent url(images/file.gif) no-repeat 0px 3px;
    padding-left: 40px;
    position: relative;

    &.unpublished {
      background: transparent url(images/file-unpublished.png) no-repeat 0px 3px;
    }
    @include resourceTitleIcon(folder,   0px 5px,  42px);
    @include resourceTitleIcon(text,     0px 2px);
    @include resourceTitleIcon(pdf,      0px 2px);
    @include resourceTitleIcon(doc,      0px 2px);
    @include resourceTitleIcon(xls,      0px 2px);
    @include resourceTitleIcon(ppt,      0px 2px);
    @include resourceTitleIcon(image,    0px 10px, 39px);
    @include resourceTitleIcon(audio,    0px 12px, 26px, $firstIsPng: true);
    @include resourceTitleIcon(video,    0px 5px,  40px);
    @include resourceTitleIcon(videoref, 0px 5px,  40px);
    @include resourceTitleIcon(lecture-videoref, 0px 5px,  40px);
    @include resourceTitleIcon(binary,   0px 3px);
    @include resourceTitleIcon(dmg,      0px 3px, $firstIsPng: true, $hasUnpublished: false);
    @include resourceTitleIcon(zip,      0px 3px, $firstIsPng: true, $hasUnpublished: false);
    @include resourceTitleIcon(jar,      0px 3px, $firstIsPng: true, $hasUnpublished: false);

    .vrtx-autocomplete-search-title,
    .vrtx-autocomplete-search-filename,
    .vrtx-autocomplete-search-uri {
      display: block;
      margin-bottom: 1px;
    }
    .vrtx-autocomplete-search-title {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 1px;
    }
    .vrtx-autocomplete-search-filename,
    .vrtx-autocomplete-search-uri {
      line-height: 1.4;
    }
    .vrtx-autocomplete-search-filename {
      font-size: 15px;
      color: #555;
    }
    .vrtx-autocomplete-search-uri {
      font-size: 13px;
      color: #777;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .ac_over .vrtx-autocomplete-search-info {
    .vrtx-autocomplete-search-title,
    .vrtx-autocomplete-search-filename,
    .vrtx-autocomplete-search-uri {
      color: #fff;
    }
  }
}
