@import "base";

#active-tab {
  margin: 0 0 5px 0;

  ul.list-menu a {
    font-weight: bold;
  }
}

#tabMenuLeft,
#tabMenuLeft li {
  float: left;
}

#tabMenuLeft a#navigateToParentService {
  display: block;
  background: url(images/tab-menu-navigate-up.png) no-repeat center left;
  padding: 5px 0 5px 28px;
}

#tabMenuRight {
  float: right;

  li {
    float: left;
    margin: -10px 0 0 15px;
    padding: 10px 0 10px 15px;
    background: url("images/seperator-grey-gradient.png") no-repeat scroll left top transparent;

    a {
      display: block;
      padding: 5px 0 6px;
    }
    &.fileUploadService {
      margin-left: 60px;
    }
    &.deleteResourcesService,
    &.recoverResourceService,
    &.fileUploadService,
    &.adminSearchService {
      padding-left: 0;
      background: none;
    }
    &.more-menu {
      padding-left: 5px;

      > div > a {
        text-indent: -9999px;
        overflow: hidden;
      }
    }
  }
}
