/*
 * Vortex
 *
 */

@import "base";
@import "tags-typography";
@import "forms";
@import "grid";
@import "breadcrumbs";
@import "resource-bar";
@import "tabs";
@import "tab-bar";
@import "embedded";
@import "tooltip";
@import "dropdowns";
@import "messages";
@import "directorylisting";
@import "upload";
@import "upload-drag-drop";
@import "preview";
@import "permissions";
@import "revisions";
@import "stats-report";

/* Tab forms */

.vrtx-admin-form p#vrtx-file-upload-info-text {
  margin: 10px 0 0;
}

.vrtx-admin-form .vrtx-admin-label {
  margin-bottom: 5px;
  margin-top: 10px;
}

.vrtx-admin-form #createCollectionService-form .radio-buttons,
.vrtx-admin-form #vrtx-create-document-templates {
  background: transparent url("images/line-dotted-tighter.gif") repeat-x scroll left bottom;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.vrtx-admin-form #vrtx-create-document-templates .radio-buttons {
  margin-bottom: 0;
}

#vrtx-create-templates-not-recommended-toggle {
  display: inline-block;
  margin-top: 8px;
}

.vrtx-admin-form #createDocumentService-form .radio-buttons,
.vrtx-admin-form #createCollectionService-form .radio-buttons {
  position: relative;
}

.vrtx-admin-form #createDocumentService-form .radio-buttons input,
.vrtx-admin-form #createCollectionService-form .radio-buttons input {
  margin-right: 4px;
}

.vrtx-admin-form .radioDescription {
  margin: 2px 0 8px 22px;
}

.vrtx-admin-form #vrtx-div-file-title,
.vrtx-admin-form #vrtx-div-file-name,
.vrtx-admin-form #vrtx-div-collection-title,
.vrtx-admin-form #vrtx-div-collection-name {
  clear: left;
}

.vrtx-admin-form #initCreateChangeTemplate,
.vrtx-admin-form #vrtx-div-file-title {
  display: none;
}

.vrtx-admin-form #vrtx-div-file-name input[type='text'][disabled],
.vrtx-admin-form #vrtx-textfield-file-type.disabled {
  color: #777 !important;
}

.vrtx-admin-form.file-name-from-title #vrtx-div-file-name input[type='text'],
.vrtx-admin-form.file-name-from-title #vrtx-div-collection-name input[type='text'],
.vrtx-admin-form.file-name-from-title #vrtx-div-file-type input[type='text'] {
  color: #555;
}

.vrtx-admin-form #vrtx-div-file-name input[type='text'],
.vrtx-admin-form #vrtx-div-collection-name input[type='text'],
.vrtx-admin-form #vrtx-checkbox-hide-from-navigation,
.vrtx-admin-form #vrtx-checkbox-is-index {
  float: left;
}

.vrtx-admin-form #vrtx-checkbox-hide-from-navigation,
.vrtx-admin-form #vrtx-checkbox-is-index {
  background: transparent url("images/seperator-grey-gradient-small-darker.png") no-repeat scroll left center;
  height: 23px;
  margin: 1px 6px 0 18px;
  padding: 7px 0 0 18px;
}

.vrtx-admin-form #vrtx-textfield-collection-name,
.vrtx-admin-form #vrtx-textfield-file-name {
  width: 35px;
}

.vrtx-admin-form #vrtx-textfield-file-type {
  float: left;
  padding: 7px 0 0 5px;
}

.vrtx-admin-form #vrtx-checkbox-hide-from-navigation label,
.vrtx-admin-form #vrtx-checkbox-is-index label {
  vertical-align: top;
}

.vrtx-radio-button > *  {
  margin: 0;
}
.vrtx-radio-button  {
  margin-bottom: 10px;
}
.vrtx-radio-button:last-child {
  margin-bottom: 0px;
}
ul.radio-buttons label {
 font-size: 1.154em;
}
ul.radio-buttons li {
  margin-bottom: 5px;
}
ul.radio-buttons li:last-child {
  margin-bottom: 0px;
}
.vrtx-checkbox {
  margin-top: 5px;
}

ul.radio-buttons input[type='radio'],
.vrtx-radio-button input[type='radio'],
.vrtx-checkbox-square input[type='checkbox'],
.vrtx-checkbox input[type='checkbox'] {
  margin: 0 3px 0 0;
}

ul.radio-buttons li > * {
  vertical-align: middle;
}

.vrtx-radio-button label,
.vrtx-radio-button input[type='radio'],
.vrtx-radio-buttons label,
.vrtx-radio-buttons input[type='radio'],
.vrtx-checkbox-square label,
.vrtx-checkbox-square input[type='checkbox'],
.vrtx-checkbox label,
.vrtx-checkbox input[type='checkbox'] {
  vertical-align: top;
  line-height: 1;
}

/* Step ny step help */

ol.vrtx-help-step-by-step {
  font-size: 1.154em;
  margin-left: 0;
  padding-left: 22px;

  li {
    margin-bottom: 15px;
  }
  span.vrtx-help-step-by-step-url,
  span.vrtx-help-step-by-step-cmd {
    color: #777;
    font-weight: bold;
  }
}

/* Filters */

#vrtx-report-filters ul.vrtx-report-filter-last {
  margin-right: 0;
}

#vrtx-report-filters ul li,
#preview-mode li {
  float: left;
  margin-right: 2px;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  height: 22px;
}

#vrtx-report-filters ul li.active-filter span,
#vrtx-report-filters ul li a,
#preview-mode li.active-mode span,
#preview-mode li a {
  height: 19px;
  padding: 3px 9px 0 10px;
  display: inline-block;
}

#vrtx-report-filters ul li.active-filter,
#vrtx-report-filters ul li.active-filter:hover,
#preview-mode li.active-mode,
#preview-mode li.active-mode:hover {
  @include bg("images/report-filter-hover-left.png");
}

#vrtx-report-filters ul li.active-filter span,
#vrtx-report-filters ul li.active-filter:hover span,
#preview-mode li.active-mode span,
#preview-mode li.active-mode:hover span {
  background: url(images/report-filter-hover-right.png) no-repeat top right;
  display: inline-block;
}

/* Dark list bullets */

ul.vrtx-reporters,
body#vrtx-permissions li.groups ul,
body#vrtx-permissions li.users ul,
body#vrtx-preview-ssl-mixed-mode #contents ul {
  li {
    background: url(images/list-bullet-dark-grey.png) no-repeat center left;
    margin: 0 0 5px 5px;
    padding: 0 0 0 10px;
  }
}

/* Autocomplete */

.ac_results {
  margin-left: -8px !important;
  margin-top: -3px !important;
}

.properties .tags input.ac_input {
  width: 320px;
}

.expandedForm span.addGroup input.ac_input,
.expandedForm span.addUser input.ac_input {
  width: 200px;
}

.vrtx-autocomplete-username.vrtx-textfield,
.vrtx-autocomplete-tag.vrtx-textfield,
#principalList .vrtx-textfield {
  position: relative;
}

.vrtx-textfield.ac_active_parent {
  z-index: 9999;
  position: relative;
}

/* Errors */

ul.errors li {
  color: $errorRestrictedTextColor;
}

form#editor {
  ul.errors {
    clear: both;
    float: left;
    width: 100%;
    list-style: none;
    margin: 10px 0 5px 0;
    padding-left: 0;
  }

  &.vrtx-person ul.errors {
    float: none;
  }
}

/* Table meta */

table.resourceInfo,
table.privilegeTable {
  border: 1px solid #d9d9d9;
  width: 100%;

  td,
  th {
    padding: 3px 5px;
    border-top: 1px solid #F0F0F0;
    vertical-align: top;
  }

  .key {
    font-weight: bold;
    width: 1%;
    white-space: nowrap;
  }
}

table.resourceInfo,
table.privilegeTable,
table.report-urchin-table {
  tr:first-child {
    td,
    th {
      border-top: none;
    }
  }
  tr:nth-child(even) {
    td,
    th {
      background-color: $contentTablesEvenBackgroundColor;
    }
  }
}

ul.property {
  margin: 0px;
}

table.resourceInfo form#propertyForm ul.property .vrtx-textfield {
  margin-right: 10px;
}

#vrtx-admin-ownership-form {
  display: inline;
}

/* Plain text edit */

body#vrtx-edit-plaintext textarea {
  width: 100%;
  @include borderBox;
}

body#vrtx-edit-plaintext .contextual-help {
  float: right;
}

/* Visual profile */

.vrtx-visual-profile-rows {
  margin: 0 0 10px 0;
}

#publishing-status,
#publishing-publish-date,
.vrtx-visual-profile-rows {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.vrtx-visual-profile-rows.last {
  padding-bottom: 0px;
  border-bottom: none;
}

.vrtx-visual-profile-rows .radio-buttons {
  margin-bottom: 0px;
}

#publishing-publish-date.expandedForm,
#publishing-unpublish-date.expandedForm {
  margin-top: -1px !important;
}

/* Tab menu */

#vrtx-manually-approve-tab-menu {
  padding: 15px 0 0 0;
}

#vrtx-resource-visit-tab-menu,
#vrtx-manually-approve-tab-menu {
  li {
    float: left;

    a {
      padding: 5px 15px;
      background: url(images/report-tab-middle.png) repeat-x 0px 25px;
      white-space: nowrap;
    }
    a,
    span {
      display: inline-block;
    }
    &.active a,
    span {
      padding: 5px 15px 5px 10px;
      margin: 0 0 0 5px;
    }
    &.active {
      @include bg("images/report-tab-active-left.png", true);

      a,
      span {
        background: url(images/report-tab-active-right.png) no-repeat top right !important;
      }
      &.active-first {
        @include bg("images/report-tab-active-left-first.png", true);

        a,
        span {
          background: url(images/report-tab-active-right-first.png) no-repeat top right !important;
        }
      }
    }
  }
}

/* Paging */

.vrtx-course-schedule .prev-next,
#manually-approve-container .prev-next {
  float: right;
}

.vrtx-course-schedule .next,
.vrtx-report-paging .next,
#manually-approve-container .next {
  margin-left: 20px !important;
  background: url(images/arrow-grey-next.gif) no-repeat center right;
  padding: 0 12px 0 0;
}

.vrtx-course-schedule .prev,
.vrtx-report-paging .prev,
#manually-approve-container .prev {
  background: url(images/arrow-grey-prev.gif) no-repeat center left;
  padding: 0 0 0 12px;
}

.vrtx-report-paging {
  .next {
    margin-left: 0px !important;
  }
  .prev {
    margin-right: 20px !important;
  }
}

/* OoXML editor */

#vrtx-ooxml-editor #vrtx-open-webdav-wrapper {
  display: none;
}

#vrtx-ooxml-editor #app-content h2 {
  margin-top: 10px;
}

/* Clearing */

#app-head,
#app-footer,
#app-content,
#main,
#title-container,
#resource-title,
ul#resourceMenuLeft,
ul#resourceMenuRight,
div.globalmenu,
#active-tab,
#contents,
#app-content .principalList,
#app-content form {
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

/* Lists without native style */

ul.radio-buttons,
ul.radio-buttons li,
.expandedForm form ul,
.expandedForm form ul li,
form.vrtx-admin-form ul,
form.vrtx-admin-form ul li,
ul#preview-mode,
ul#preview-mode li,
ul#preview-actions,
ul#preview-actions li,
ul#vrtx-manually-approve-tab-menu,
ul#vrtx-manually-approve-tab-menu li,
#vrtx-preview-ssl-mixed-mode #contents ul,
#vrtx-preview-ssl-mixed-mode #contents ul li,
#vrtx-report-filters ul,
#vrtx-report-filter ul li {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

/* Expanded forms */

div.globalmenu h3,
form.vrtx-admin-form h3,
.expandedForm h3,
.solidExpandedForm h3 {
  margin-top: 0;
}

div.expandedForm,
div.solidExpandedForm,
tr.expandedForm td {
  margin: 5px -20px 14px -20px;
  padding: 14px 19px;
  background-color: $expandedFormBackgroundColor !important;
  border: 1px solid $expandedFormBorderColor !important;
}

div.globalmenu {
  margin: 0 0 20px 0;
  padding: 13px 15px;
  background-color: $expandedFormBackgroundColor;
  border: 1px solid $expandedFormBorderColor;
  clear: left;
}

div.vrtx-admin-form {
  @include floatClearFix;
}

div.globalmenu .vrtx-button,
div.expandedForm .vrtx-button,
div.solidExpandedForm .vrtx-button,
tr.expandedForm td .vrtx-button,
div.globalmenu .vrtx-button-small,
div.expandedForm .vrtx-button-small,
div.solidExpandedForm .vrtx-button-small,
tr.expandedForm td .vrtx-button-small {
  background: $buttonExpandedFormBackgroundColor;
}

/* Smaller button in resource-info tables */

.forms-new .resourceInfo table .vrtx-button-small {
  margin-left: 2px;
  font-size: 0.846em;
  padding: 2px 13px;

  &:hover,
  &:focus,
  &.hover {
    padding: 3px 14px;
  }
}

/* Dialog */

.vrtx-create-tree {
  .vrtx-button-small {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  .tree-create {
    @include posAbs;
    padding: 0 15px !important;
  }

  a.tree-link {
    color: #2b2b2b !important;
    font-size: 1.077em;
  }
}

.loading-tree-node {
  background: transparent url(images/spinner.gif) no-repeat center left;
  padding-left: 26px;
}

#TB_window {
  @include borderRadius(7px);
}

#TB_closeAjaxWindow {
  display: none;
}

#TB_title {
  padding-right: 0px !important;
  margin: 30px 30px 0 30px !important;

  &.show-close-window {
    padding-right: 70px !important;

    #TB_closeAjaxWindow {
      display: block;
    }
  }
}

#TB_ajaxContent {
  padding: 2px 0 30px 30px !important;
}

#dialog-loading-content img {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
}

/* Fix rendering bug in Firefox for hover in table (VTK-2562)
 * TODO: the problems lays though with 'overflow:hidden' on table cells and resource link
 */
#directory-listing tr input, x:-moz-any-link, x:only-child {
  margin: 3px 3px 3px 4px;
}

#resource-title {
  .button-row li form input[type="submit"], x:-moz-any-link, x:only-child {
    padding: 5px 15px 6px;

    &:hover,
    &:focus {
      padding: 6px 16px 7px;
    }
  }
  .dropdown-shortcut-menu-container li form input[type="submit"], x:-moz-any-link, x:only-child {
    padding-left: 11px !important;
    padding-right: 11px !important;
  }
}
