  a.vrtx-media {
    clear: left;
    display: block;
    margin: 10px 0px 0px;
  }
  .vrtx-media-player-print { display: none; }
  .vrtx-media-player-no-flash,
  .vrtx-media-player-no-flash img {
    width: 504px;
    height: 302px;
    float: left;
  }
  .vrtx-media-player-no-flash { background-color: #000000; position: relative; }
  .vrtx-media-player-no-flash .playbutton {
    position: absolute;
    top: 90px;
    left: 195px;
    width: 115px;
    height: 106px;
    display: block;
  }
  .vrtx-media-player-no-flash .playbutton,
  .vrtx-media-player-no-flash a.vrtx-media:visited .playbutton,
  .vrtx-media-player-no-flash a.vrtx-media:active .playbutton,
  .vrtx-media-player-no-flash .playbutton:visited,
  .vrtx-media-player-no-flash .playbutton:active {
    background: url('/vrtx/__vrtx/static-resources/themes/default/icons/video-playbutton.png') no-repeat center center;
  }
  .vrtx-media-player-no-flash a.vrtx-media:hover .playbutton,
  .vrtx-media-player-no-flash .playbutton:hover { background-image: url('/vrtx/__vrtx/static-resources/themes/default/icons/video-playbutton-hover.png'); }