/*
 * Vortex - Base
 *
 */
 
/* App */
 
$baseFont: Arial, Helvetica, sans-serif;
$textColor: #363534;
$linkColor: #005aab;

$bodyBackgroundColor: #f8f8f8;
$lineTopBackgroundColor: #000;
$headFooterBackgroundColor: #fff;

$breadcrumbTabHoverSystemTabMessageBackgroundColor: #4a9ce2;
$systemMessageLinkColor: #88dfed;

$publishedAllowedTextColor: #549401;
$errorRestrictedTextColor: #ed1c24;

/* Forms */

$buttonTextColor: #000;
$buttonBackgroundColor: #e7e7e7;
$buttonBorderColor: #cbcbcb;

$buttonFocusHoverTextColor: #fff;
$buttonFocusBackgroundColor: #2b81c8;
$buttonHoverBackgroundColor: #4195db;

$textareaInputBackgroundColor: #fff;
$textareaInputBorderColor: #919191;

$disabledTextColor: #888;
$disabledButtonBackgroundColor: #efefef;
$disabledBorderColor: #ccc;

@mixin resetFont {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit; 
  font-weight: inherit;
}
@mixin baseFontImp {
  font-family: $baseFont !important;
}
@mixin noMargPadd { margin: 0px; padding: 0px; }
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius; 
}
@mixin borderRadiusImp($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  border-radius: $radius !important;
}
@mixin boxShadow($opts) {
  -moz-box-shadow: $opts;
  -webkit-box-shadow: $opts;
  box-shadow: $opts;
}
@mixin boxShadowImp($opts) {
  -moz-box-shadow: $opts !important;
  -webkit-box-shadow: $opts !important;
  box-shadow: $opts !important;
}

/* ^ Vortex - Base */