/*
 * Vortex - Base
 *
 * TODO: reuse @mixin's when override with !important
 *
 */
 
/* App */
 
$baseFont: Arial, Helvetica, sans-serif;
$textColor: #363534;
$linkColor: #005aab;
$titleContainerTextColor: #363534;

$bodyBackgroundColor: #f8f8f8;
$lineTopBackgroundColor: #000;
$headFooterBackgroundColor: #fff;

$breadcrumbTabHoverSystemTabMessageBackgroundColor: #4a9ce2;
$systemMessageLinkColor: #88dfed;

$contentBackgroundColor: #fff;
$contentTablesEvenBackgroundColor: #f9f9f9;
$listingDropdownTipFocusBackgroundColor: #ecf3f9;
$publishedAllowedTextColor: #549401;
$errorRestrictedTextColor: #ed1c24;

/* Forms */

$buttonTextColor: #000;
$buttonBackgroundColor: #e7e7e7;
$buttonBorderColor: #cbcbcb;
$buttonFocusHoverTextColor: #fff;
$buttonFocusBackgroundColor: #2b81c8;
$buttonHoverBackgroundColor: #4195db;

$textareaInputBackgroundColor: #fff;
$textareaInputBorderColor: #919191;

$expandedFormBackgroundColor: #e8e8e8;
$expandedFormBorderColor: #d9d9d9;
$buttonExpandedFormBackgroundColor: #f7f7f7;

$disabledTextColor: #888;
$disabledButtonBackgroundColor: #efefef;
$disabledBorderColor: #ccc;

@mixin resetFont {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit; 
  font-weight: inherit;
}
@mixin baseFontImp {
  font-family: $baseFont !important;
}
@mixin noMargPadd { margin: 0px; padding: 0px; }
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius; 
}
@mixin borderRadiusImp($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  border-radius: $radius !important;
}
@mixin boxShadow($opts) {
  -moz-box-shadow: $opts;
  -webkit-box-shadow: $opts;
  box-shadow: $opts;
}
@mixin boxShadowImp($opts) {
  -moz-box-shadow: $opts !important;
  -webkit-box-shadow: $opts !important;
  box-shadow: $opts !important;
}
@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin linearGradientBackgroundColors($col1, $col2, $col3, $col4, $percent1, $percent2, $percent3, $percent4) {
  background: $col1;
  background: -moz-linear-gradient(top, $col1 $percent1, $col2 $percent2, $col3 $percent3, $col4 $percent4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($percent1, $col1),
                                                              color-stop($percent2, $col2),
                                                              color-stop($percent3, $col3),
                                                              color-stop($percent4, $col4));
  background: -webkit-linear-gradient(top, $col1 percent1, $col2 $percent2, $col3 $percent3, $col4 $percent4);
  background: -o-linear-gradient(top, $col1 percent1, $col2 $percent2, $col3 $percent3, $col4 $percent4);
  background: -ms-linear-gradient(top, $col1 percent1, $col2 $percent2, $col3 $percent3, $col4 $percent4);
  background: linear-gradient(to bottom, $col1 percent1, $col2 $percent2, $col3 $percent3, $col4 $percent4);
} 

/* ^ Vortex - Base */