/*
 * Vortex - Breadcrumbs
 *
 */

@import "base";

$breadcrumbLeftRightAnimationSpeed: 300ms;

@mixin breadcrumbBlock {
  font-size: 1.15em;
  margin: 0; 
  height: 32px;
  @include floatBlock;
}
@mixin breadcrumbBlockInner {
  color: $textColor;
  text-decoration: none;
  padding: 6px 11px 0 11px;
  height: 26px;
}

#app-head-wrapper #vrtx-breadcrumb-wrapper {
  background: url(images/app-head-breadcrumb-bg.png) repeat-x left top;
  overflow: hidden;
  position: relative;
  bottom: -1px;
  margin-top: -1px; 
    
  #vrtx-breadcrumb {
    @include appHeadLine;
    text-align: left; 
    height: auto;

    .breadcrumb-prefix {
      display: none;
    }
    span.vrtx-breadcrumb-level {
      @include breadcrumbBlock;

      &:focus,
      &:hover {
        background: $breadcrumbTabHoverSystemTabMessageBackgroundColor url(images/app-head-breadcrumb-delimiter-rollover-left.png) no-repeat left bottom;
        margin-left: -10px;

        span.vrtx-breadcrumb-delimiter {
          background: url(images/app-head-breadcrumb-delimiter-rollover-right.png) no-repeat right bottom;
          height: 33px;
          margin-top: -1px;
        }
        a {
          color: #fff;
          padding-left: 21px;
        }
      }
      &.vrtx-breadcrumb-level-1,
      &.vrtx-breadcrumb-left {
        margin-left: -11px;

        &:focus,
        &:hover {
          background: $breadcrumbTabHoverSystemTabMessageBackgroundColor;
          margin-left: -11px;

          a {
            padding-left: 11px;
          }
        }
      }
      &.vrtx-breadcrumb-before-active {
        &:focus,
        &:hover {
          span.vrtx-breadcrumb-delimiter {
            background-image: url(images/app-head-breadcrumb-delimiter-rollover-right-active.png);
          }
        }
        span.vrtx-breadcrumb-delimiter {
          background-image: url(images/app-head-breadcrumb-delimiter-active.png);
        }
      }
      &.vrtx-breadcrumb-active {
        padding: 5px 21px 0 11px;
        height: 25px;
        background: #d9d9d9 url(images/app-head-breadcrumb-active-bg.png) no-repeat right bottom;
        margin: 1px 0 0 0;

        &:focus,
        &:hover {
          background: #d9d9d9 url(images/app-head-breadcrumb-active-bg.png) no-repeat right bottom;
          margin: 1px 0 0 0;
        }
        &.vrtx-breadcrumb-left {
          margin-left: -11px;

          &:focus,
          &:hover {
            margin-left: -11px;
          }
        }
      }
      a {
        @include floatBlock;
        @include breadcrumbBlockInner;
      }
    }
    span.vrtx-breadcrumb-level-no-url {
      @include breadcrumbBlock;

      span.vrtx-no-url {
        @include floatBlock;
        @include breadcrumbBlockInner;
        color: #777;
      }
    }
    span.vrtx-breadcrumb-delimiter {
      background: url(images/app-head-breadcrumb-delimiter.png) no-repeat right bottom;
      @include wh(10px, 30px);
      @include floatBlock;
      margin: 1px 0 0 0;
      text-indent: -9999px;
    }
  }
}

/* Scrollable */

.js #app-head-wrapper #vrtx-breadcrumb-wrapper {
  #vrtx-breadcrumb-outer,
  #vrtx-breadcrumb-inner {
    height: 32px;
    position: relative;
  }
  #vrtx-breadcrumb-outer {
    overflow: hidden;
    padding-left: 11px;
    margin-left: -11px;
  }
  #vrtx-breadcrumb-inner {
    overflow: visible;
    left: 0px;
    top: 0px;
    float: left;

    &.animate {
      @include transitions(left $breadcrumbLeftRightAnimationSpeed ease);
    }
  }
  #navigate-crumbs-left-coverup {
    display: block;
    background: url(images/app-head-breadcrumb-bg.png) repeat-x left top;
    @include posAbs(0, 39px);
    @include wh(11px, 34px);
  }
  .navigate-crumbs {
    background: url(images/app-head-breadcrumb-bg.png) repeat-x left top;
    position: absolute;
    top: 0px;
    display: block;
    @include wh(40px, 33px);

    &:focus,
    &:hover {
      background: $breadcrumbTabHoverSystemTabMessageBackgroundColor url(images/app-head-breadcrumb-delimiter-rollover-left.png) no-repeat -10px bottom;
      top: -1px;
      height: 34px;
      cursor: pointer;
    }
    span.navigate-crumbs-icon {
      display: block;
      @include wh(10px, 14px);
      @include posAbs(10px, 15px);
    }
    span.navigate-crumbs-dividor {
      display: block;
      @include wh(30px, 30px);
      position: absolute;
      top: 1px;
    }
    &#navigate-crumbs-left {
      left: 35px;
      border-right: 1px solid #DAD9D9;

      &:focus span.navigate-crumbs-icon,
      &:hover span.navigate-crumbs-icon {
        background-image: url(images/breadcrumbs-left-nav-rollover.png);
        top: 11px;
      }
      span.navigate-crumbs-icon {
        background: url(images/breadcrumbs-left-nav.png) no-repeat center center;
      }
      span.navigate-crumbs-dividor {
        background: url(images/breadcrumbs-left-dividor.png) no-repeat center center;
        right: -31px;
      }
    }
    &#navigate-crumbs-right {
      right: 35px;
      border-left: 1px solid #DAD9D9;
    
      &:focus span.navigate-crumbs-icon,
      &:hover span.navigate-crumbs-icon {
        background-image: url(images/breadcrumbs-right-nav-rollover.png);
        top: 11px;
      }
      span.navigate-crumbs-icon {
        background: url(images/breadcrumbs-right-nav.png) no-repeat center center;
      }
      span.navigate-crumbs-dividor {
        background: url(images/breadcrumbs-right-dividor.png) no-repeat center center;
        left: -31px;
      }
    }
  }
}

/* ^ Vortex - Breadcrumbs */