/*
 * Vortex - Forms
 *
 */
 
@import "base";

@mixin button {
  background: $buttonBackgroundColor;
  color: $buttonTextColor;
  border: 1px solid $buttonBorderColor;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none !important;
  padding: 5px 15px 6px;
  margin: 0;
  @include borderRadius(5px);
  
  &:hover,
  &:focus,
  &.hover {
    background: $buttonHoverBackgroundColor;
    text-decoration: none;
    @include buttonFocusStyle;
  }
}
@mixin buttonFocus {
  background: $buttonFocusBackgroundColor;
  @include buttonFocusStyle;
}
@mixin buttonSmall {
  padding: 3px 13px 4px;
  
  &:hover,
  &:focus,
  &.hover {
    padding: 4px 14px 5px;
  }
}
@mixin buttonFocusStyle {
  color: $buttonFocusHoverTextColor;
  border: none;
  padding: 6px 16px 7px;
}
@mixin buttonSubmits {
  margin: 0 10px 0 0;
}
@mixin disabled {
  border: 1px solid $disabledBorderColor;
  color: $disabledTextColor;
}

/* Buttons, textfields and dialogs */

.forms-new {
  form {
    @include noMargPadd;
  }
  fieldset {
    @include noMargPadd;
    background: transparent;
    border: none;
  }
  textarea {
    border: 1px solid $textareaInputBorderColor;
    outline: none;
    padding: 8px 10px;
    @include borderRadius(5px);
  }
  input {
    @include noMargPadd;
    
    &[type=button],
    &[type=file],
    &[type=image],
    &[type=reset],
    &[type=submit],
    &[type=password],
    &[type=text] {
      @include resetFont;
      -webkit-appearance: none; /* Webkit - remove appearance */
      &:focus {
        outline: none;
      }
    }
  }
  .vrtx-textfield,
  .vrtx-textfield-big {
    background: $textareaInputBackgroundColor;
    border: 1px solid $textareaInputBorderColor;
    height: 26px;
    padding: 1px 8px 0 8px;
    @include borderRadius(5px);
    /* IE fix */
    display: inline-block;
    display: block;
    display: inline-block;
    &[disabled],
    &[readonly] {
      @include disabled;
    }
  }
  .vrtx-textfield-big {
    height: 30px;
    padding: 3px 10px 0;
  }
  button {
    @include noMargPadd;
    @include resetFont;
    &:focus {
      outline: none;
    }
  }
  .vrtx-button,
  .vrtx-focus-button,
  .vrtx-button-small {
    @include button;
    
    &[disabled],
    &[readonly] {
      background: $disabledButtonBackgroundColor;
      @include disabled;
      &:hover {
        border: none;
        cursor: default;
      }
    }
  }
  .vrtx-button,
  .vrtx-button-small {
    &:hover,
    &:focus,
    &.hover {
      color: $buttonFocusHoverTextColor;
    }
  }
  .vrtx-button-small {
    @include buttonSmall;
  }
  .vrtx-focus-button {
    @include buttonFocus;
  }
  .submitButtons,
  #submitButtons {
    padding: 20px 0 0 0;
    clear: left;
    
    .vrtx-button,
    .vrtx-focus-button {
      @include buttonSubmits;
    }
  }

  /* Dialogs */
 
  .vrtx-close-dialog {
    display: none;
  }
  .ui-dialog {
    @include noMargPadd;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #848484;
    box-shadow: 1px 1px 5px 2px #848484;
    color: #000000;
    position: fixed;
    padding: 20px;
    z-index: 100000 !important;
    @include borderRadius(7px);
    
    h1 {
      display: none;
    }
    .ui-dialog-titlebar {
      background: url(/vrtx/__vrtx/static-resources/themes/default/images/line-dotted.gif) repeat-x scroll left bottom transparent;
      border: none;
      padding: 0 0 15px 0;
      
      &.closable {
        padding-bottom: 0px;
        background: none;
      }
      .ui-dialog-title {
        font-size: 1.538em;
        font-weight: normal;
        margin: 0;
      }
    }
    .ui-dialog-titlebar-close {
      right: 3px;
      top: 3px;
      
      .ui-button-text {
        display: none;
      }
      .ui-icon {
        background: url(/vrtx/__vrtx/static-resources/themes/default/images/thickbox-close.png) no-repeat center center;
        position: static;
      }
    }
    .ui-dialog-titlebar-close,
    .ui-dialog-titlebar-close.ui-state-hover {
      border: none;
      background: none;
    }
    .ui-dialog-titlebar-close,
    .ui-dialog-titlebar-close .ui-icon {
      @include wh(20px, 18px);
      @include noMargPadd;
    }
    .vrtx-close-dialog {
      display: block;
    }
    .cancel-is-not-a-button {
      margin-left: 5px;
    }
    .ui-dialog-buttonpane,
    .ui-dialog-content {
      margin: 0;
      border: none;
    }
    .ui-dialog-content {
      padding: 15px 0;
      min-height: 0 !important;
      
      ul {
        margin: 10px 0 10px 25px;
        padding: 0;
      }
    }
    .ui-dialog-buttonpane {
      padding: 0;
      button {
        @include resetFont;
        @include button;
        @include buttonSubmits;
        
        &:focus {
          outline: none;
        }
        &:hover,
        &:focus {
          color: $buttonFocusHoverTextColor;
        }
        &:first-child {
          @include buttonFocus;
        }
        span {
          padding: 0;
        }
      }
      .ui-dialog-buttonset {
        float: left;
      }
    }
    .submitButtons,
    #submitButtons {
      padding: 30px 0 0 0;
      margin: 0 0 -15px;
    }
  }
  .ui-widget {
    font-family: $baseFont !important;
    font-size: 1em !important;
    text-align: left;
    
    &.ui-datepicker {
      font-size: 0.9em !important;
    }
    input,
    select,
    textarea,
    button {
      font-family: $baseFont !important;
    }
  }
  .ui-widget-overlay {
    background: #000;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)" !important;
    z-index: 99999 !important; 
  }
}

/* Button rows */

@mixin buttonRowInputsAdjustPadding($pT, $pB) {
  input[type="submit"] {
    padding-top: $pT;
    padding-bottom: $pB;
    &:hover,
    &:focus {
      padding-top: calc($pT + 1px);
      padding-bottom: calc($pB + 1px);
    }
  }
}

.button-row li {
  &> a,
  input[type='submit'] {
    @include button;
  }
  @include buttonRowInputsAdjustPadding(6px, 7px);
  &.save {
    @include buttonFocus;
    &> a,
    input[type="submit"] {
      border: none;
    }
    &> * {
      @include noMargPadd;
      &> * {
        padding: 6px 16px 7px;
        margin: 0 !important;
        border: none;
        @include borderRadius(0px !important);
      }
    }
  }
}

.button-row-small li {
  &> a,
  input[type='submit'] {
    @include button;
    @include buttonSmall;
  }
  @include buttonRowInputsAdjustPadding(4px, 5px);
}


/* Add button for multiple fields (also used in link-check report) */

.vrtx-multipleinputfields .vrtx-button.add,
.vrtx-json .vrtx-add-button {
  padding-left: 10px;
  padding-right: 10px;
}

.vrtx-multipleinputfields .vrtx-button.add {
  clear: both;
}

.vrtx-multipleinputfields .vrtx-button.add:hover,
.vrtx-multipleinputfields .vrtx-button.add:focus,
.vrtx-json .vrtx-add-button:hover,
.vrtx-json .vrtx-add-button:focus {
  padding-left: 11px;
  padding-right: 11px;
}

.vrtx-multipleinputfields .vrtx-button.add span,
.vrtx-add-button span {
  display: block;
  @include wh(13px, 13px);
  background: url("images/multiple-add.png") no-repeat center center;
}

.vrtx-multipleinputfields .vrtx-button.add:hover span,
.vrtx-add-button:hover span,
.vrtx-multipleinputfields .vrtx-button.add:focus span,
.vrtx-add-button:focus span {
  background-image: url("images/multiple-add-rollover.png");
}

/* Email-approval and advanced publish settings forms */

.forms-new .ui-dialog .dialog-error-msg {
  margin: 10px 0 0;
  color: #ed1c24;
}

.forms-new #email-approval-form {
  width: 400px;
}

.forms-new #dialog-html-advanced-publish-settings-content label,
.forms-new #email-approval-form label {
  margin: 15px 0px 5px;
  display: inline-block;
  font-size: 1.154em;
  width: 100%;
}

.forms-new #email-approval-form label.first,
.forms-new #dialog-html-advanced-publish-settings-content label:first-child {
  margin-top: 0px;
}

.forms-new #email-approval-form .vrtx-textfield {
  width: 385px;
}

.forms-new #email-approval-form textarea {
  @include wh(380px, 90px);
}

.forms-new #email-approval-form .email-help {
  margin: 5px 0 0 0;
  color: #888;
  font-size: 0.923em;
}

.forms-new #emailBody {
  color: #666;
  overflow: hidden;
}

.forms-new #emailBody a {
  color: #005aab;
  text-decoration: underline;
}

.forms-new div#email-response { 
  font-size: 0.923em;
  font-style: italic;
  color: #ed1c24;
  margin: 10px 0 0 0;
}

/* Mozilla hacks */

.forms-new form::-moz-focus-inner,
.forms-new .ui-dialog .ui-dialog-buttonpane button::-moz-focus-inner,
.forms-new form button::-moz-focus-inner {
  border: none;
  padding: 0;
}

/* ^ Vortex - Forms */