@charset "UTF-8";

.vrtx-container-size-xxl { width:800px;  }
.vrtx-container-size-xl  { width:700px;  }
.vrtx-container-size-l   { width: 600px; }
.vrtx-container-size-m   { width: 500px; }
.vrtx-container-size-s   { width: 400px; }
.vrtx-container-size-xs  { width: 300px; }
.vrtx-container-size-xxs { width: 200px; }

.vrtx-container {
  overflow: hidden;
  padding: 1em;
}

.vrtx-container,
.vrtx-img-container {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

.vrtx-container-middle img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.vrtx-media-middle,
.vrtx-container-middle {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.vrtx-media-middle {
  margin: 1em 0;
}

.vrtx-media-left,
.vrtx-container-left {
  margin: 0 1em 1em 0;
  float: left;
}

.vrtx-media-right,
.vrtx-container-right {
  margin: 0 0 1em 1em;
  float: right;
}

.vrtx-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 1em;
  padding: 0;
  border: none;
}

.vrtx-container p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.vrtx-facts-container h1,
.vrtx-facts-container h2,
.vrtx-facts-container h3,
.vrtx-facts-container h4,
.vrtx-facts-container h5,
.vrtx-facts-container h6,
.vrtx-facts-container p,
.vrtx-facts-container ul,
.vrtx-facts-container ol,
.vrtx-facts-container pre {
  border: solid;
  border-width: 1px;
  border-color :#fff;
  margin-top: .5em;
  margin-bottom: .5em;
}

.vrtx-facts-container {
  width: 200px;
  padding: .5em 1em .5em 1em;
  border-color: #aaa;
  border-style: solid;
  border-width: 2px;
}

.vrtx-facts-container ul,
.vrtx-facts-container ol {
  padding-left: 0em;
  margin-left: 2em;
}

.vrtx-img-container p {
  margin: 0;
  padding: 0;
}

.vrtx-media-player {
  background: #acacac url('icons/movieplayer-play.png') no-repeat center center;
  width: 256px; /* std article width */
  height: 192px;  /* 4:3 */
  text-indent: -9000px;
  overflow: hidden;
}

.vrtx-media-player-audio {
  background: #acacac url('icons/audioplayer.png') no-repeat center center;
  width: 214px;
  height: 61px;
  text-indent: -9000px;
  overflow: hidden;
}

ul.cke_panel_list a {
  color: #000 !important;
}

/* New image2 plugin */

.vrtx-container .cke_image_resizer,
.vrtx-img-container .cke_image_resizer {
  display: none !important;
}

/* Fix for Firefox: use box-shadow instead of outline */
body .cke_widget_wrapper.cke_widget_focused>.cke_widget_element,
body .cke_widget_wrapper .cke_widget_editable.cke_widget_editable_focused {
  outline: none;
  -moz-box-shadow: 0px 0px 0px 2px #ace;
  -webkit-box-shadow: 0px 0px 0px 2px #ace;
  box-shadow: 0px 0px 0px 2px #ace;
}
body .cke_widget_wrapper:hover>.cke_widget_element {
  outline: none;
  -moz-box-shadow: 0px 0 0px 2px yellow;
  -webkit-box-shadow: 0 0px 0px 2px yellow;
  box-shadow: 0px 0 0px 2px yellow;
}
body .cke_widget_wrapper:hover .cke_widget_editable {
  outline: none;
  -moz-box-shadow: 0px 0 0px 2px yellow;
  -webkit-box-shadow: 0 0px 0px 2px yellow;
  box-shadow: 0px 0 0px 2px yellow;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}
figure {
  display: table !important;
  border-spacing: 0 0;
  border-collapse: collapse;
  width: 1px;
  margin: 1em 0;
  position: relative;
}
figure > * {
  vertical-align: bottom;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 0.5em;
  background: #eee;
  font-size: 0.92em;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px;
  min-height: 1em;
}

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-left figure,
.image-right figure {
  margin: 0;
}
p.image-center {
  text-align: center;
}
.image-center figure {
  margin-left: auto;
  margin-right: auto;
}

/* VTK-4311 - avoid centered image overlaps floated image above */
.image-center {
  width: 100%;
  float: left;
  clear: left;
}

/* Study table */

.vrtx-courseplan-table {
  width: 100%;
}

.vrtx-courseplan-table td.small {
  white-space: nowrap;
  width: 10%;
}

.vrtx-courseplan-table td.large {
  width: 30%;
}

/* ^ Study table */

/* Course combination table expansion */

.vrtx-courseplan-common {
    background-color: #F9F9F9;
}

.vrtx-courseplan-specialization {
    background-color: #F5F2DF;
}

.vrtx-courseplan-optional {
    background-color: #C8DEB1;
}

.vrtx-courseplan-thesis {
    background-color: #D0EAFC;
}

/* ^ Course combination table expansion */
