.accordion-title {
  padding: 15px 15px 14px 18px;
  margin-top: 2px;
  margin-bottom: -3px;
  background: transparent;
  border: 1px solid #d9d9d9;
  font-size: 1.15em;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}

.ui-accordion {
  > .header,
  > .vrtx-add-button {
    margin-left: 0px;
    margin-right: 0px;
  }

  > div {
    margin-left: -20px;
    margin-right: -20px;

    > .header.ui-accordion-header,
    .ui-accordion > div .ui-accordion-header {
      padding: 15px 15px 14px 40px;
      border-radius: 0px;
    }

    > .header.ui-accordion-header {
      margin-bottom: -3px;
      background: #f9f9f9;
      color: inherit;
      border-color: #d9d9d9;

      label {
        margin-bottom: 0px;
      }

      &.ui-corner-top {
        border-bottom: none;
      }

      .ui-icon {
        top: 25px;
        left: 11px;
        height: 16px;
        width: 16px;
      }

      .ui-icon.ui-icon-triangle-1-s { /* Expanded */
        background: url(../images/arrow-collapsed-big.gif) no-repeat top left;

        @include transforms(rotate(90deg));
        @include transitions(all 600ms ease-in-out);

        top: 20px;
        left: 13px;
      }

      .ui-icon.ui-icon-triangle-1-e { /* Collapsed */
        background: url(../images/arrow-collapsed-big.gif) no-repeat top left;
        @include transitions(all 600ms ease-in-out);
      }

      &.ui-corner-top,
      &.ui-state-hover.ui-corner-top {
        background: none;
      }
    }

    .ui-accordion > div {
      .ui-accordion-header {
        background: url(../images/line-dotted.gif) repeat-x top left;
        padding-left: 30px;
        border-radius: 0px;
        margin: 0 0 -3px 20px;
        color: inherit;
        border-width: 0;
      }

      .ui-accordion {
        background: url(../images/line-dotted.gif) repeat-x bottom left;
      }

      .header.ui-accordion-header .ui-icon {
        left: -3px;
      }
    }

    > .ui-accordion-content {
      padding-left: 40px !important;
      padding-top: 0px !important;
      border: 1px solid #d9d9d9 !important;
      border-bottom: none !important;
      border-top: none !important;
      overflow: hidden;
    }
  }

  > .vrtx-grouped {
    margin-top: 0px;

    .header.ui-accordion-header.ui-state-hover label {
      cursor: pointer;
    }
  }

  > .vrtx-json-element {
    margin-bottom: 0px;

    &.last {
      margin-bottom: 20px;
    }
  }

  // Faster animations
  &.fast > div > .header.ui-accordion-header .ui-icon {
    &.ui-icon-triangle-1-s,
    &.ui-icon-triangle-1-e {
      @include transitions(all 200ms ease-in-out);
    }
  }

  .header.ui-accordion-header {
    &.ui-state-hover,
    &.ui-state-focus {
      background-color: #ecf3f9;
    }
  }

  /* Ensure dotted background on inner accordions */
  .ui-accordion .header.ui-accordion-header {
    &.ui-state-hover,
    &.ui-state-focus,
    &.ui-corner-top,
    &.ui-state-hover.ui-corner-top,
    &.ui-state-focus.ui-corner-top {
      background: url(../images/line-dotted.gif) repeat-x top left !important;
    }
    &.ui-state-hover,
    &.ui-state-focus,
    &.ui-state-hover .session-date,
    &.ui-state-focus .session-date {
      text-decoration: underline !important;
    }
  }
}

.ie8 .ui-accordion > div > .header.ui-accordion-header .ui-icon.ui-icon-triangle-1-s { /* Expanded */
  background: url(../images/arrow-expanded-big.gif) no-repeat center left;
}

.embedded .ui-accordion,
.session .ui-accordion {
  margin-top: 5px;
  margin-bottom: 0px;
  background: transparent !important;
}

.embedded .ui-accordion .ui-accordion-content,
.accordion-wrapper > div .ui-accordion > div .ui-accordion-content {
  padding-left: 50px !important;
  border: none !important;
}

.embedded .ui-accordion .ui-accordion-content,
.accordion-wrapper.skip-tier > .ui-accordion-content,
.accordion-wrapper > div .ui-accordion > div .ui-accordion-content {
  padding-top: 10px !important;
}

.accordion-wrapper .accordion-content-title {
  font-size: 1.15em;
  margin-bottom: 10px;
  display: block;
}

#accordion-grouped {
  margin: 20px 0;
}
