/*
 * Vortex - Editor - Course schedule
 *
 * See also "../_embedded.scss" for embedding of
 * single session and collection listing for fixed resources.
 *
 */

#editor.vrtx-course-schedule {
  .properties {
    .tooltips.cancelled-tp {
      margin-top: 15px;
    }

    .vrtx-checkbox {
      margin-top: 30px;
    }

    .property-label {
      font-weight: normal;
      margin: 0 0 25px 0;
    }

    .session-date {
      display: inline-block;
      width: 15em;
    }

    .header-status {
      color: #ed2023;
    }
  }

  .admin-fixed-resources-iframe {
    width: 100%;
    height: 200px; /* default height */
  }
}
