/*
 *
 *  Vortex - Editor - New documenttypes
 *
 */

@import "../editor-common";
@import "frontpage";
@import "accordion";
@import "study-select";
@import "preview-html-shared-text";


// Info message

.vrtx-info-msg {
  margin-bottom: -15px;
  font-size: 0.867em;

  .inputfield {
    display: none;
  }

  label {
    background: url(../images/info-small.gif) no-repeat 0 0;
    padding: 0 0 10px 25px;
    margin-bottom: 0px;
  }
}

// Boxes

.vrtx-json {
  clear: both;

  .vrtx-json-element {
    margin-bottom: 20px;
    position: relative;
    clear: both;

    .vrtx-string,
    .vrtx-resource-ref,
    .vrtx-button {
      margin: 0 20px 0 0;
      clear: none;
      float: left;
    }

    .vrtx-string.id {
      float: none;
    }

    .vrtx-remove-button,
    .vrtx-move-up-button,
    .vrtx-move-down-button {
      margin-top: 26px;
    }

    .vrtx-image-ref {
      clear: left;
      /* Fix a clearing problem */
      margin-top: 0px;
      padding-top: 20px;
      overflow: hidden; /* IE collision fix */
    }

    .vrtx-resource-ref-browse,
    .vrtx-image-ref-browse,
    .vrtx-image-ref {
      .vrtx-button {
        float: none;
        margin: 0 0 0 20px;
      }
    }

    .vrtx-html {
      margin-bottom: 20px;
    }
  }

  .cke_chrome {
    border: none !important;

    .cke_inner {
      padding: 0px !important;
    }
  }
}

.vrtx-image-ref .vrtx-image-ref-preview {
  display: inline-block;
  margin-top: 20px;
}

.vrtx-radio-buttons {
  label {
    margin-bottom: 0px;
    display: inline;
  }

  .vrtx-radio-buttons-false {
    margin-left: 5px;
  }
}

.vrtx-grouped-horizontal {
  .vrtx-string,
  .vrtx-radio,
  .vrtx-resource-ref,
  .vrtx-image-ref,
  .vrtx-media-ref {
    float: left;
    margin-right: 20px;
    margin-top: 0px;

    label {
      margin-bottom: 0px;
      padding-bottom: 10px;
    }
  }
}

.vrtx-grouped {
  .vrtx-string,
  .vrtx-radio,
  .vrtx-resource-ref,
  .vrtx-image-ref,
  .vrtx-media-ref {
    margin-top: 15px;
  }

  .related-content label {
    display: none;
  }

  .vrtx-info-msg {
   font-size: 1em;
 }
}

.vrtx-add-button,
.vrtx-grouped-horizontal,
.vrtx-string.author {
  clear: left;
}

.getExternalPersonInfo,
.getExternalUnitInfo {
  label {
    display: inline;
  }

  .vrtx-radio-buttons {
    margin-top: 10px;
  }

  .tooltip {
    padding-left: 5px;
  }
}

.contactInformation .visitingAddress {
  display: none !important;
}

#vrtx-resource\.courseContext\.course-continued-as.hidden {
  display: none;
}

#resource-links .vrtx-textfield {
  width: 160px;
}

// TODO: generalize JSON-element-accordion
#items .vrtx-json-element {
  > div > div,
  .left > div,
  .right > div {
    clear: left;
    float: left;
    margin-top: 20px;
  }

  .left,
  .right,
  .left > div:first-child,
  .right > div:first-child,
  > div > div:first-child,
  .vrtx-grouped .ui-accordion-content > div:first-child {
    margin-top: 0px;
  }

  .right {
    clear: none;
  }
}

// Clearings

.vrtx-grouped-horizontal,
.vrtx-grouped-vertical,
.vrtx-grouped,
.vrtx-json,
.vrtx-json .vrtx-json-element {
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

.vrtx-grouped .vrtx-json:after {
  content: "";
}
